{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--Arquivos CSS remotos-->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <!--Arquivos CSS locais-->
  <link rel='stylesheet' type='text/css' href="{% static 'css/topnav.css' %}">
  <link rel='stylesheet' type='text/css' href="{% static 'css/cadastro_de_processos.css' %}">
</head>

<body>
  <!--Menu superior-->
  <ul class="topnav">
    <li class="active"><a href="{% url 'cadastro_de_processos' %}">Cadastrar Processos</a></li>
    <li><a href="{% url 'processos_list' %}">Lista de Processos</a></li>
    {% if request.user %}
    <li class="logout"><a href="{% url 'logout' %}">Logout</a></li>
    {% endif%}
  </ul>

  <!--Titulo e logo da Globo-->
  <div>
    <h1>
      <br>
      <img src="{% static 'img/logo_blue.png' %}" style="width:10%" >    
      <br>
      Cadastre um novo processo
    </h1>
  </div>

  <!--Formulario de cadastro de processos-->
  <form class="form" method="POST" action="">
    <ul>
      <h2>
        Use esse formulário para cadastrar um novo processo para acompanhamento
      </h2>

      {% csrf_token %}
      {{ form.as_p }}

      <li>
      <select name="classe" class="field-style field-split align-left" required>
        <option value="">Classe</option>
        <option value="AC">AC</option>
        <option value="ACO">ACO</option>
        <option value="ADC">ADC</option>
        <option value="ADI">ADI</option>
        <option value="ADO">ADO</option>
        <option value="ADPF">ADPF</option>
        <option value="AI">AI</option>
        <option value="AImp">AImp</option>
        <option value="AO">AO</option>
        <option value="AOE">AOE</option>
        <option value="AP">AP</option>
        <option value="AR">AR</option>
        <option value="ARE">ARE</option>
        <option value="AS">AS</option>
        <option value="CC">CC</option>
        <option value="Cm">Cm</option>
        <option value="EI">EI</option>
        <option value="EL">EL</option>
        <option value="EP">EP</option>
        <option value="Ext">Ext</option>
        <option value="HC">HC</option>
        <option value="HD">HD</option>
        <option value="IF">IF</option>
        <option value="Inq">Inq</option>
        <option value="MI">MI</option>
        <option value="MS">MS</option>
        <option value="Pet">Pet</option>
        <option value="PPE">PPE</option>
        <option value="PSV">PSV</option>
        <option value="RC">RC</option>
        <option value="Rcl">Rcl</option>
        <option value="RE">RE</option>
        <option value="RHC">RHC</option>
        <option value="RHD">RHD</option>
        <option value="RMI">RMI</option>
        <option value="RMS">RMS</option>
        <option value="RvC">RvC</option>
        <option value="SIRDR">SIRDR</option>
        <option value="SL">SL</option>
        <option value="SS">SS</option>
        <option value="STA">STA</option>
        <option value="STP">STP</option>
        <option value="TPA">TPA</option>
      </select>

      <input type="number" class="field-style field-split align-right" placeholder="Número do processo" name="numero" required>
      </li>

      <li>
        <input type="text" class="field-style field-full align-none" placeholder="Descrição do processo" name="descricao" required>
      </li>

      <li id="email-destination">
        <input type="text" class="field-style field-buttons align-none" placeholder="E-mail do destinatário" name="emails" required>
      </li>

      {% csrf_token %}

      <li>
        <input type="submit" value="Cadastrar" name="run_script"/>
      </li>

    </ul>
  </form>
</body>
